body {
    background-color: #ebdfaf;
    color: #5e5e4f;
    margin: 0;
    padding: 0;
    height: 100%;
}

h1{
    text-align: center;
}
.custom-navbar {
    width: 100%;
    background-size: cover;
    background-color: #ddd2a6 !important;
}

.custom-hero{
    background-color: #cfc59a !important;
}

.custom-hero .h1 {
    font-family: verdana;
}

.carrusel-personalizado{
    background-color: #777157 !important;
}

.fs-3{
    text-align: center;
    color: #ddd2a6;
}

.custom-footer {
    background-color: #ddd2a6;
}

.custom-register-card {
    background-color: #cfc59a; 
    color: #424242;
    border: 1px solid #cfc59a;
    border-radius: 10px;
}

.custom-card {
    font-size: larger;
    background-color: #f4efdb;
    text-align: center;
    color: #777157;
}

.container-fluid .p{   
    text-align: center;
}

.bg-custom{
    background-color: #cfc59a;
}

.bg-consulta{
    background-color: #cfc59a;
}

.titulo{
    color: #ddd2a6;
}

#terror{
    color: #777157;
}

#comedia{
    color: #777157;
}

