body {
    background-color: #ebdfaf;
    color: #5e5e4f;
    margin: 0;
    padding: 0;
    height: 100%;
}
.custom-navbar {
    width: 100%;
    background-size: cover;
    background-color: #ddd2a6 !important;
}


.custom-hero{
    background-color: #ddd2a6;
}

.custom-hero .h1 {
    font-family: verdana;
}

.carrusel-personalizado{
    background-color: #777157 !important;
}

.fs-3{
    text-align: center;
    color: #ddd2a6;
}

.custom-footer {
    background-color: #ddd2a6;
}

.custom-card {
    font-size: larger;
    background-color: #f4efdb;
    text-align: center;
    color: #777157;
}

.container-fluid .p{   
    text-align: center;
}

.bg-custom{
    background-color: #777157 !important;
}

.titulo{
    color: #ddd2a6;
}

#terror{
    color: #777157;
}

#ciencia-ficcion{
    color: #777157;
}

#comedia{
    color: #777157;
}